{% extends 'users/base.html' %}
{% block content %}
<table class="centered">
        <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Age</th>
          </tr>
        </thead>

        <tbody>
        {% for user in object_list %}
        <tr>
            <td><a href="{% url 'user_homes' user_id=user.id %}">{{ user.first_name }}</a></td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.age }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
 {% include "pagination.html" %}
{% endblock content %}
